@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/home-page.css")

}

<div>
    <form action="http://localhost:58510/admin/index">
        <button type="submit" class="btn btn-primary btn-lg navigate-to-home-page">ADD KEY</button>
    </form>
</div>  